header {
    background-color: #777;
    background-image: url("../images/road-8844555_1280.jpg");
    background-repeat: no-repeat;
    background-size: 100% 200%;
    background-position: center;
    color: white;
    text-align: center;
    padding: 1.3rem;
    text-shadow: 1px 1px 1px black;
}

section.main {
    background-image: url("../images/dogs/paper.gif");
    background-repeat: repeat;
    text-align: center;

    display: flex;
    /*
        flex box 내부의 item들은 기본적으로 가로방향으로 한줄 표현이 됨
        화면의 가로크기가 조절되는 경우 적당한 크기로 줄바꿈되어 여러줄에
        표현되도록 설정함
    */
    flex-wrap: wrap;
    /* item 들을 적당히 조절하기 */
    justify-content: center;

    .th_img {
        width: 200px;
        padding: 5px;

        img {
            width: 95%;
            border-radius: 10px;
            transition: 0.7s;
            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }
        figcaption {
            font-weight: bold;
            color: blue;
            transition: 0.7s;
            &:hover {
                cursor: pointer;
                color: #888;
            }
        }
    }
}

footer {
    background-color: #aaa;
    text-align: center;
}
